@import "tailwindcss";

@custom-variant child (& > *);
@custom-variant child-hover (& > *:hover);

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --toastError-bg: #fff1f2;
    --toastError-color: #9f1239;
    --toastError-border: #fecdd3;

    --toastSuccess-bg: #ecfdf5;
    --toastSuccess-color: #065f46;
    --toastSuccess-border: #a7f3d0;
  }

  .dark {
    --toastError-bg: #1e1112;
    --toastError-color: #fda4af;
    --toastError-border: #881337;

    --toastSuccess-bg: #062019;
    --toastSuccess-color: #6ee7b7;
    --toastSuccess-border: #065f46;
  }
}

@layer utilities {
  .bg-todo-light {
    background: linear-gradient(180deg, #ffffff 0%, #fef9f9 100%);
    background-image:
      radial-gradient(circle at 20% 20%, #ffe0e0 5%, transparent 20%),
      radial-gradient(circle at 80% 80%, #e0f7ff 5%, transparent 20%);
  }

  .bg-todo-dark {
    background-image:
      radial-gradient(circle at 80% 20%, #1a2d4980 5%, transparent 20%),
      radial-gradient(circle at 20% 80%, #092d2e4c 5%, transparent 20%),
      linear-gradient(to bottom, #101828, #0c1522, #080f1c);
  }
}